.checkout-header {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
}

.header-content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
}

.checkout-header-left-section {
  width: 150px;
}

.amazon-logo {
  width: 120px !important;
  margin-top: 12px;
}

.amazon-mobile-logo {
  display: none;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }

  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }
}

.checkout-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.return-to-home-link {
  color: var(--green);
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 6px;
  border: 3px solid var(--green);
  border-bottom: none;
  border-top: none;
  border-radius: 50px;
  padding-inline: 6px;
}

@media (max-width: 1000px) {
  .checkout-header-middle-section {
    font-size: 26px;
    margin-right: 60px;
  }

  .return-to-home-link {
    font-size: 23px;
  }
}

@media (max-width: 575px) {
  .checkout-header-middle-section {
    margin-right: 5px;
  }
  .checkout-header-middle-section {
    font-size: 23px;
  }
}

.checkout-header-right-section {
  text-align: right;
  width: 150px;
}
.checkout-header-right-section img {
  width: 40px;
}

@media (max-width: 1000px) {
  .checkout-header-right-section {
    width: auto;
  }
}
