:root {
  --fs-h1: 18px;
  --fs-h2: 16px;
  --fs-pt: 22px;
  --fs-dt: 20px;
  --prd-img-width: 170px;
}
.main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 110px !important;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: var(--fs-pt);
  margin-bottom: 18px;
}

.checkout-grid {
  display: grid;
  /* Here, 1fr means the first column will take
     up the remaining space in the grid. */
  grid-template-columns: 1fr 350px;
  column-gap: 12px;

  /* Use align-items: start; to prevent the elements
     in the grid from stretching vertically. */
  align-items: start;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 20px !important;
  }
  .amazon-logo {
    width: 100px !important;
    margin-top: 12px;
  }

  :root {
    --fs-h1: 17px;
    --fs-h2: 15px;
    --fs-pt: 20px;
    --fs-dt: 18px;
  }
}
@media (max-width: 1000px) {
  .checkout-grid {
    grid-template-columns: 1fr;
  }

  .page-title {
    font-weight: 700;
    font-size: var(--fs-pt);
    margin-bottom: 18px;
  }
}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(1, 147, 0, 0.3);
  border-radius: 20px;
  padding: 18px;
}

.cart-item-container {
  margin-bottom: 12px;
}

.payment-summary {
  padding-bottom: 0px;
}

@media (max-width: 1000px) {
  .payment-summary {
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.delivery-date {
  color: var(--green);
  font-weight: 700;
  font-size: var(--fs-dt);
  margin-top: 5px;
  margin-bottom: 20px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: var(--prd-img-width) 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    display: grid;
    grid-template-columns: var(--prd-img-width) 1fr;
    row-gap: 30px;
  }
}
@media (max-width: 430px) {
  .cart-item-details-grid {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  :root {
    --fs-h1: 16px;
    --fs-h2: 14px;
    --fs-dt: 17px;
  }
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product-image {
  max-width: 100%;
  border-radius: 20px;
}

.product-name {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: var(--fs-h1);
}

.product-price {
  color: var(--green);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: var(--fs-h1);
}
.qunt-ct {
  display: flex;
}
.qunt,
.quantity-label {
  font-size: var(--fs-h2);
  font-weight: 600;
}
.product-quantity {
  display: flex;
  align-items: center;
}
.product-quantity .link-primary {
  margin-left: 3px;
}
.delivery-options-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 118, 0, 0.3);
  border-radius: 20px;
  padding: 6px 10px;
  gap: 10px;
}

@media (max-width: 1000px) {
  .delivery-options {
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: var(--fs-h1);
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  cursor: pointer;
  gap: 5px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid white;
}
.delivery-option:hover {
  border: 1px solid rgb(0, 118, 0, 0.3);
  border-radius: 20px;
  padding: 5px;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
  accent-color: var(--green);
}

.delivery-option-date {
  color: var(--green);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.payment-summary-title {
  font-weight: 700;
  font-size: var(--fs-h1) !important;
  margin-bottom: 12px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: var(--fs-h2);
  margin-bottom: 9px;
}

.payment-summary-money {
  text-align: right;
  color: var(--green);
  font-weight: 600;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(0, 118, 0, 0.3);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: var(--green);
  font-weight: 700;
  font-size: var(--fs-h1);
  border-top: 1px solid rgb(0, 118, 0, 0.3);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px !important;
  margin-top: 11px;
  margin-bottom: 15px;
  font-size: var(--fs-h2) !important;
}
.delete-quantity-link,
.update-quantity-link,
.save-quantity {
  color: var(--white) !important;
  padding: 5px;
  border-radius: 20px;
  transition: background 0.3s ease-in-out;
}
.update-quantity-link,
.save-quantity {
  background-color: var(--green-border);
  margin-left: 10px !important;
}
.update-quantity-link:hover,
.save-quantity:hover {
  background-color: var(--green);
}
.delete-quantity-link {
  background-color: rgb(250, 94, 94);
}
.delete-quantity-link:hover {
  background-color: rgb(255, 45, 45);
}
.quantity-input,
.save-quantity {
  display: none;
}
.quantity-input {
  width: 30px;
  text-align: center;
  padding-inline: 4px;
  padding-block: 6px;
  border-radius: 20px;
  font-weight: 600;
  border: 1px solid var(--green-border);
  color: var(--green-border);
}
.quantity-input:focus {
  outline: none;
  box-shadow: 1px 1px 5px var(--green-border);
}
.isEditig-quantity .quantity-input,
.isEditig-quantity .save-quantity {
  display: initial;
}

.isEditig-quantity .update-quantity-link,
.isEditig-quantity .quantity-label {
  display: none;
}
