:root {
  --fs-h1: 18px;
  --fs-h2: 16px;
  --fs-pt: 25px;
  --fs-dt: 20px;
  --fs-btn: 15px;
  --prd-img-width: 170px;
}
.main {
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.back-to-orders-link {
  display: flex;
  align-items: center;
  font-size: var(--fs-h1);
  text-decoration: none;
  font-weight: 600;
  color: var(--green) !important;
  margin-bottom: var(--fs-dt);
}

.delivery-date-trk {
  font-size: var(--fs-pt);
  font-weight: 700;
  margin-bottom: var(--fs-dt);
}

.product-cont {
  display: flex;
  margin-bottom: var(--fs-dt);
  border: 1px solid rgb(1, 147, 0, 0.3);
  border-radius: 20px;
  gap: 20px;
}
.product-info {
  font-size: var(--fs-h1);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-block: 20px;
}
.product-image-trk {
  border-radius: 20px;
  max-width: var(--prd-img-width);
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: var(--fs-dt);
}
.progress-label {
  color: var(--black);
}

.current-status {
  color: var(--green);
}

@media (max-width: 450px) {
  :root {
    --fs-h1: 16px;
    --fs-h2: 14px;
    --fs-pt: 23px;
    --fs-dt: 18px;
  }
}

.progress-bar-container {
  height: 25px;
  width: 100%;
  border: 1px solid rgb(1, 147, 0, 0.3);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--green);
  border-radius: 50px;
}
