.homeMain {
  margin-block: 85px 20px;
  padding-inline: 20px;
}
h2 {
  margin: 0;
  margin-bottom: 10px;
}
.loading {
  margin: 20px 0;
  color: var(--green, #009300);
  font-weight: 600;
}

:root {
  --fs-d: 18px;
  --fs-n: 16px;
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

@media (max-width: 1000px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .productImageContainer {
    margin-bottom: 10px !important;
    overflow: hidden;
    height: 180px !important;
    border-radius: 20px;
  }

  :root {
    --fs-d: 16px;
    --fs-n: 15px;
  }
}

@media (max-width: 575px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .productImageContainer {
    margin-bottom: 5px !important;
    overflow: hidden;
    height: 150px !important;
    border-radius: 20px;
  }

  :root {
    --fs-d: 14px;
    --fs-n: 14px;
  }
}

.productContainer {
  border: 1px solid rgba(0, 147, 0, 0.3);
  padding: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.productContainer:hover {
  transform: scale(1.025);
}
.productContainer:active {
  transform: scale(1);
}

.productImageContainer {
  margin-bottom: 20px;
  overflow: hidden;
  height: 200px;
  border-radius: 20px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.productName {
  color: var(--black);
  height: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: var(--fs-n);
}

.productRatingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}

.productRatingStars {
  width: 100px;
  margin-right: 6px;
}

.productRatingCount {
  color: var(--green);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--fs-n);
  margin-top: 3px;
  border-radius: 50px;
  padding-inline: 5px;
  border: 3px solid var(--green);
  border-bottom: none;
  border-top: none;
}
.productRatingCount:hover {
  cursor: auto !important;
  color: var(--green) !important;
}
.productPrice {
  color: var(--black);
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  font-size: var(--fs-d);
}

.productQuantityContainer {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.productQuantityContainer select {
  width: 50%;
  text-align: center;
  font-size: var(--fs-d);
  font-weight: 600;
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 20px;
  background-color: rgb(1, 147, 0, 0.3);
}
.productQuantityContainer select:focus {
  outline: 1px solid var(--green);
}

.productSpacer {
  flex: 1;
}

.addedToCart {
  color: rgb(6, 125, 98);
  font-size: var(--fs-d);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  opacity: 0;
  height: 30px;
}

.jsAddedToCart {
  color: rgb(6, 125, 98);
  font-size: var(--fs-d);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  /* At first, the "Added to cart" message will
     be invisible. Use JavaScript to change the
     opacity and make it visible. */
  opacity: 1;
}

.addedToCart img {
  height: 25px;
  margin-right: 5px;
}

.addToCartButton {
  width: 100%;
  padding: 4px;
  border-radius: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.addToCartIcon {
  width: 1.8em;
  height: 1.8em;
}
